@page "{statusCode:int?}"
@using Microsoft.AspNetCore.Diagnostics;
@using Microsoft.AspNetCore.Authorization;

<div class="row col-md-12">
    <h1 class="alert-warning">@ViewBag.ErrorMessage</h1><br />
    @*<h1 class="alert-warning">@ViewBag.BasePath</h1><br />*@
    <h1 class="alert-warning">@ViewBag.Path</h1><br />
    <h1 class="alert-warning">@ViewBag.QueryStr</h1>
</div>

@functions{

    [AllowAnonymous]
    [Route("Error/{statusCode?}")]
    public void OnGet(int? statusCode)
    {
        if (statusCode == null)
        {
            var exceptionHandlerPathFeature = HttpContext.Features.Get<IExceptionHandlerPathFeature>();
            ViewBag.ErrorMessage = exceptionHandlerPathFeature.Error.Message;
            ViewBag.Path = exceptionHandlerPathFeature.Path;

        }
        else
        {
            var statusCodeResult = HttpContext.Features.Get<IStatusCodeReExecuteFeature>
                ();
            switch (statusCode)
            {
                case 404:
                    ViewBag.ErrorMessage = "抱歉，您所访问的页面不存在！";
                    ViewBag.Path = statusCodeResult.OriginalPath;
                    ViewBag.BasePath = statusCodeResult.OriginalPathBase;
                    ViewBag.QueryStr = statusCodeResult.OriginalQueryString;
                    break;
                default:
                    break;
            }
        }
    }

}
